.navbar {
    background-color: beige;
    display: flex;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
body {
    margin: 0px;
}
h1 {
    color: green;
    font-style: italic;
    font-weight: bold;
    margin-left: 100px;

}
nav{
    display: block;
    padding-top: 200;
    padding-left: 500;
    
}
nav button {
    margin: 20px;
}
.navword {
    text-align: center;
    padding-left: 400px;
}

.already {
    padding-left: 650px;
}