{% extends "base.html" %}

{% block title %}DATASEA{% endblock %}
{% block mycss %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css')}}" > {% endblock %}

{% block content %}
    <div class="mainimage">
        <img src="{{ url_for('static', filename='images/linechart.gif')}}" class="mainimage">
    </div>
    <nav class="welcome">
        <h1 >Welcome to DataSea </h1>
    <a href="visualise"><button>Explore Available Datasets</button></a>
    <a href="signup"><button type="button">Sign up and start today</button></a>
    </nav>
    <a class="already" href="login">Already a user, login</a>
    <a href="login.html"> </a>
{% endblock %}
