<DOCTYPYE html>
<html>

<head>
    <link rel="stylesheet" href="css/index.css" >
<title> DATASEA </title>
</head>
<body>
        <div class="navbar">
            <h1 class="navword">DATASEA</h1>
            </div>
            <div class="mainimage">
                <img src="images/896ee926f57de78a81716948d074cf9c.gif" class="mainimage">
                </div>
    <nav class="welcome">
    <h1 >Welcome to DataSea </h1>
    <a href="templates/visualisation.html"><button>Explore Available Datasets</button></a>
    <a href="signup.html"><button type="button">Sign up and start today</button></a>
    </nav>
    <a class="already" href="login.html">Already a user, login</a>
    <a href="login.html"> </a>
</body>

</html>
