{% extends "base.html" %}
{% block title %} Log in {% endblock %}
{% block mycss %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css')}}" >
{% endblock %}

{% block content %}
        <div class="heading">
        <h1>Login page</h1>
        </div>
        <div class="message">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for msg in messages %}
                                <p>{{msg}}</p>
                        {% endfor %}
                {% endif %}
        {% endwith %}
        </div>
        <form action="#" method="post">
            <label for ="fname">username</label>
            <input type="text" id="fname" name="fname" required><br>
            <label for="fpassword">Password</label>
            <input type="password" id="fpassword" name="fpassword" required><br>
            <input type="submit" value="login"> 
        </form>
{% endblock %}