{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}

{% block mycss %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css')}}" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css')}}" >
{% endblock %}

{% block content %}
        <div class="heading">
        <h1>Sign Up and Start Today</h1>
        </div>
        <form action="" method="POST">
            <label for="fname">Name</label>
            <input type="text" id="fname" placeholder="Username" value="{{name if name}}">
            <br>
            <label for ="femailaddress">Email Adress</label>
            <input type="text" id="femailaddress" name="femailaddress" placeholder="Enter Email" value="{{email if email}}" required>
            <br>
            <label for="fphonenumber">Phone number</label>
            <input type="text" id="fphonenumber" name="fphonenumber" placeholder="Phonenumber" value="{{phone if phone}}" required>
            <br>
            <label for="fpassword">Password</label>
            <input type="password" id="fpassword" name="fpassword" placeholder="Password" required>
            <br>
            <input type="submit" value="Submit">
        </form>
{% endblock %}