{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}

{% block mycss %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css')}}" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css')}}" >
{% endblock %}

{% block content %}
        <div class="heading">
        <h1>Sign Up and Start Today</h1>
        </div>
        <form>
            <label for="fname">Name</label>
            <input type="text" id="fname" required><br>
            <label for ="femailaddress">Email Adress</label>
            <input type="text" id="femailaddress" name="femailaddress" required><br>
            <label for="fphonenumber">Phone number</label>
            <input type="text" id="fphonenumber" name="fphonenumber" required><br>
            <label for="fpassword">Passwoord</label>
            <input type="password" id="fpassword" name="fpassword" required><br>
            <input type="submit" value="Submit">
        </form>
{% endblock %}