body {
    margin: 0px;
}

.navbar {
    background-color: red;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

.navbar a {
    list-style: none;
    text-decoration: none;
    padding-left: 30px;
    text-align: end;
    color: green;
}

.navbar a:hover {
    color: black;
    font-weight: 700;
}
