body {
    margin: 0px;
}
h1 {
    color: green;
    font-style: italic;
    font-weight: bold;
    margin-left: 100px;

}
.welcome {
    display: block;
    padding-top: 20px;
    padding-left: 500px;
    
}
nav button {
    margin: 20px;
}
.navword {
    text-align: center;
    padding-left: 500px;
}

.already {
    padding-left: 650px;
}
.mainimage {
    height: 250px;
    width: 400px;
    padding-left:250px;
    padding-top: 30px;
}